*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.para{
    background-color:rgb(250, 56, 88);
}
.para p{
    color: white;
}
.carousel-caption h5,p{
    color: black;
}

.carousel-caption{
    position: absolute;
    right: 15%;
    bottom: 8.25rem;
    left: -40%;
    padding-top: 1.25rem;
    padding-bottom: 1.25rem;
    color: #fff;
    text-align: center;
}